<h1>New Jobs</h1>

<%= form_for :job, url: jobs_path do |f| %>

	<p>
		<%= f.label :origin %><br>
		<%= f.select :origin, ['Sydney', 'Boston', 'Beijing', 'New York'], include_blank: true %><br>
	</p>
	<p>
		<%= f.label :destination %><br>
		<%= f.select :destination, ['Sydney', 'Boston', 'Beijing', 'New York'], include_blank: true %><br>
	</p>
	
		<p>
		<%= f.label :cost %><br>
		<%= f.number_field :cost %><br>
	</p>

		<p>
		<%= f.label :Containers_Needed_for_Job %><br>
		<%= f.number_field :containersNeeded %><br>
	</p>

		<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %><br>
	</p>
	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description %><br>
	</p>

	<p>
	<%= f.submit method: :new, data: { confirm: 'Are you sure want add this ship?' } %>
	</p>

<% end %>