<h1>new Jobs</h1>

<%= form_for :job, url: jobs_path do |f| %>
	<p>
		<%= f.label :description %><br>
		<%= f.text_field :containers %><br>
	</p>
	<p>
		<%= f.label :origin %><br>
		<%= f.text_field :origin %><br>
	</p>
	<p>
		<%= f.label :destination %><br>
		<%= f.text_field :destination %><br>
	</p>
	
		<p>
		<%= f.label :cost %><br>
		<%= f.text_field :cost %><br>
	</p>

		<p>
		<%= f.label :containersNeeded %><br>
		<%= f.text_field :containersNeeded %><br>
	</p>

		<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %><br>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>