<br>
<br>
<br>
<br>
<br>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>
<p>
  <strong>Origin:</strong>
  <%= @job.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @job.destination %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @job.cost %>
</p>

<p>
  <strong>Containers Needed:</strong>
  <%= @job.containersNeeded%>
</p>
 
<%= link_to 'Job Lists', jobs_path %> | <%= link_to 'Delete Job', @ship, method: :delete, data: { confirm: 'Are you sure want to delete this job?' } %>