<h1>new Jobs</h1>
<%= flash[:notice] %>
<%= form_for :ship_job, url: ship_jobs_path, method: :post do |f| %>
<% @ships = Ship.where(user_id: current_user.id)%>
<% @jobs = Job.where(user_id: current_user.id)%>
<% puts @ships %>
	<p>
		<%= f.label :ship_id %><br>
		<%= f.collection_select :ship_id, @ships, :id, :name, include_blank: true  %><br>
	</p>
	<p>
		<%= f.label :job_id %><br>
		<%= f.collection_select :job_id, @jobs, :id, :name, include_blank: true %><br>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>