<h1>Editing Ships</h1>

<%= form_for(@ship) do |f| %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :containers %><br>
    <%= f.text_field :containers %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </p>

   <p>
    <%= f.submit 'Edit Ships'%>
  </p>
 

<% end %>
 
<%= link_to 'Ship Lists', ships_path %> | <%= link_to 'Delete Ship', @ship, method: :delete, data: { confirm: 'Are you want to delete this ship sure?' } %>