
<h1>List ships</h1>

 <table>
  <thead>
    <tr>
      <th>Containers</th><br />
      <th>Location</th><br />
      <th>User ID</th><br />
      <th colspan="3"></th><br />
    </tr>
  </thead>

  <tbody>
    <% @ship.each do |ship| %>
      <tr>
        <td><%= ship.name %></td>
        <td><%= ship.containers %></td>
        <td><%= ship.location %></td>
        <td><%= ship.user_id %></td>
        <td><%= link_to 'Ship details', ship %> </td> 
        <td><%= link_to 'Edit', edit_ship_path(ship) %> </td> 
        <td><%= link_to 'Delete', ship, method: :delete, data: { confirm: 'Are you sure want to delete this ship?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

