
<h1>Your Ships <%=link_to "Add Ship", new_ship_path%></h1>




    <% current_user.ships.each do |ship| %>
      <div class='col-lg-2 indships'>
        <%=image_tag ship.avatar_url(:thumb)%>
        <h3><%= link_to ship.name, ship %></h3>
        <h6>Containers: <%= ship.containers %></h6>
        <h6>Location: <%= ship.location %></h6>
        
        <br>
        <%= link_to 'Edit', edit_ship_path(ship.id) %> | 
        <%= link_to 'Delete', ship, method: :delete, data: { confirm: 'Are you sure want to delete this ship?' } %>
      </div>
    <% end %>


