<h1>New Ships</h1>

	<%= form_for :ship, url: ships_path do |f| %>


		<p>
			<%= f.label :name %><br>
			<%= f.text_field :name %><br>
		</p>
		<p>
			<%=f.label :Maximum_Containers%><br>
			<%=f.number_field :containers%><br>
		<p>
			<%= f.label :location %><br>
			<%= f.select :location,["New York", "Miami", "Beijing", "Sydney"] %><br>
		</p>
		<p>
			<%= f.label :Image%><br>
			<%= f.file_field :avatar%>
		</p>
		<p>
			<%= f.submit %>
		</p>

<% end %>